<a href="https://colab.research.google.com/github/dhanushch18/Intrduction-to-Pandas/blob/main/Pandas_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SERIES

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.


A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [ ]:
import numpy as np
import pandas as pd

Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [ ]:
labels=['a','b','c']
my_list =[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

Data in a Series
A pandas Series can hold a variety of object types:

In [ ]:


pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:

pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

Using an Index


The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

In [ ]:
ser1=pd.Series([1,2,5,4],index=['USA','India','UAE','Germany'])
ser1

USA        1
India      2
UAE        5
Germany    4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,3,4],index = ['USA', 'India','Italy', 'Germany'])
ser2

USA        1
India      2
Italy      3
Germany    4
dtype: int64

In [ ]:
ser1['India']

2

In [ ]:
ser1 + ser2

Germany    8.0
India      4.0
Italy      NaN
UAE        NaN
USA        2.0
dtype: float64